// make the host component style with 100%
:host {
  display: block;
  width: 100%;
  max-width: 1250px;
}

form {
  position: sticky;
  top: 0;
  z-index: 999;
  display: flex;
  mat-form-field {
    margin-right: 15px;
  }
  margin-top: 15px;;
  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
  }
}

.tab-icon {
  margin-right: 8px;
}

.format-notice {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 12px;
  opacity: 0.7;
  cursor: help;
  
  mat-icon {
    font-size: 16px;
    width: 16px;
    height: 16px;
  }
}